{% extends "base.html" %}
{% block app_content %}
<div id="about_author_photo">
    <img src="static/VVphoto.jpg" height="400px" width="270px">
</div>

<div id="about_author_text" style="position: absolute;">
    Василь Васильович Пицко<br>
    «Юний пенсіонер» (як сам себе називає) <br>
    Народився 25 березня 1945 року у селі Розгірче, Стрийського району, що на Львівщині. <br>
    Після закінчення Семигинівської середньої школи вступив до Дрогобицького педагогічного інституту та протягом довгих <br>
    років вчителював у селі Великосілки (Кам’янка-Бузького району Львівської області), <br>
    викладав Фізику, астрономію, інформатику та математику. <br>
    Зараз займається власним господарством, а у вільний час пише гуморески та вірші. <br>
    Ідеї для гуморесок бере з життя, адже в житті завжди є хвилинка для гумору. Тому і збірку віршів та гуморесок, яку <br>
    ви читатимете і названо «З гумором про все на світі».<br>
    Сподіваємось, що ці твори спонукають Вас посміятись над своїми проблемами, глянути на них під іншим кутом, <br>
    задуматись, чи варто хвилюватись через дрібниці, і зрештою, отримати задоволення від читання. <br>
    <br>
    <br>
    <br>
    Знайшли помилку? Дайте знати! (slavko.dem@gmail.com)
</div>


{% endblock %}