<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="static/icon.png" sizes="32x32">
        <title>
            {% block title %}{{title}}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
        <div id="navbar-container">
            <div id="navbar">
                <div class="link-div">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="{{ url_for('poems', page_num=1) }}">Вірші</a></li>
                            <li><a href="{{ url_for('humoresques', hum_page_num=1) }}">Гуморески</a></li>
                            <li><a href="{{ url_for('about') }}">Про Автора</a></li>
                            <li><a href="{{ url_for('add_poem') }}">Add Poem</a></li>
                            <li><a href="{{ url_for('add_humoresque') }}">Add Hum</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
            {% block content %}
            <div class="container-fluid" style="margin-top: 100px;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {# application content needs to be provided in the app_content block #}
                {% block app_content %}{% endblock %}
            </div>
            {% endblock %}
    </body>
</html>

