<html>
    <head>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" sizes="32x32">
        <title>
            {% block title %}{{title}}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alice" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="navbar-container">
            <div id="navbar">
                <div class="link-div">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="{{ url_for('poems', page_num=1) }}">Вірші</a></li>
                            <li><a href="{{ url_for('humoresques', hum_page_num=1) }}">Гуморески</a></li>
                            <li><a href="{{ url_for('search') }}">Пошук</a></li>
                            <li><a href="{{ url_for('about') }}">Про<span style="opacity: 0;">і</span>Автора</a></li>
                            <!-- <li><a href="{{ url_for('add_poem') }}">Add Poem</a></li> -->
                            <!-- <li><a href="{{ url_for('add_humoresque') }}">Add Hum</a></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="page_container">
            {% block content %}
            <div class="container-fluid" style="margin-top: 100px;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {# application content needs to be provided in the app_content block #}
                {% block app_content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </body>
</html>

