{% extends "base.html" %}
{% block app_content %}

    {% for humoresque in humoresques.items %}
        {% include "_humoresque.html" %}
        <!-- <a href="{{ url_for('del_hum', hum_id=humoresque.id) }}">DELETE</a> -->
    {% endfor %}

    <div class="pagination-links">
    {% for page in humoresques.iter_pages() %}
        {% if page %}
            {% if page != humoresques.page %}
                <a href="{{ url_for('humoresques', hum_page_num=page) }}">{{ page }}</a>
            {% else %}
                <span style="color: white;">({{ page }})</span>
            {% endif %}
        {% else %}
            <span class=ellipsis style="color: white;">…</span>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
