{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

    <div class="search-text"><p>Пошук віршів та гуморесок:</p></div>

    <div id="search">
        <form action="" method="post">
            <input value="" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type=text name=search_field> <br>
            <input type=submit style="color: rgb(4, 73, 150); border-radius: 10px; box-shadow: 0 0 3px #ddd; outline: none;" value=Знайти name="submit">
        </form>
    </div>

    <div>
        {% for poem in poems %}
            {% include "_poem.html" %}
        {% endfor %}

        {% for humoresque in humoresques %}
            {% include "_humoresque.html" %}
        {% endfor %}
    </div>

{% endblock %}