{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

    <h2 style="color: white; margin-left: 44px;">Пошук віршів та гуморесок:</h2>

    <div id="search">
        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input style="width: 548px; margin-bottom: 1rem;" type=text name=search_field> <br>
            <input type=submit style="color: rgb(4, 73, 150); border-radius: 10px; box-shadow: 0 0 3px #ddd; outline: none;" value=Знайти name="submit">
        </form>
    </div>

    <div style="margin-top: -375px;">
    {% for poem in poems %}
        {% include "_poem.html" %}
    {% endfor %}

    {% for humoresque in humoresques %}
        {% include "_humoresque.html" %}
    {% endfor %}

    {% for poem in poems_by_text %}
        {% include "_poem.html" %}
    {% endfor %}

    {% for humoresque in humoresques_by_text %}
        {% include "_humoresque.html" %}
    {% endfor %}
    </div>

{% endblock %}